*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
/*固定窗口开始*/
header{
	width: 100%;
	height: 0.92rem;
	background:#0078e6;
	position: fixed;
	z-index: 999;
}
.header-main{
	width:26.666666%;
	height: 100%;
	margin:0 auto;
}
.logo{
	width: 35%;
	height: 0.81rem;
	float: left;
	margin-top: 0.11rem;
	background: url(../img/logo.png)no-repeat center;
	background-size: 0.70rem 0.66rem;
}
.header{
	width: 65%;
	height: 100%;
/*	background: pink;*/
	float:right;
	font-size:0.34rem;
	line-height: 0.92rem;
	text-align: center;
	color: #fff;
	font-family: "微软雅黑";
}
.head{
	width: 100%;
	height: 0.92rem;
}
/*banner开始*/
.banner{
	width: 100%;
	height: 2.8rem;
	background:red;
}
.banner img{
	width: 100%;
	height: 100%;
}
.banner-main{
	display:block;
	width: 100%;
	height: 2.8rem;
}
/*banner结束*/
/*标题*/
.heng{
	width: 100%;
	height: 0.82rem;
	background: #f5f6fa;
}
.wenzi{
	float: left;
	height: 0.22rem;
	margin-top: 0.3rem;
	margin-left: 0.23rem;
	font-size: 0.22rem;
	font-family: "微软雅黑";
	line-height: 0.22rem;
}
.wenzi a{
	color: #000;
}
/*提示栏开始*/
/*提示栏结束*/
.tishi{
	width: 100%;
	height: 1.01rem;
	background: #f5f6fa;
}
.tishi-main{
	width: 96.666666%;
	height: 0.8rem;
	margin: 0 auto;
	border: 0.02rem solid #01b5ff;
	border-radius: 0.07rem;
	box-sizing: border-box;
}
.tishi-main1{
	width: 100%;
	height: 100%;
}
.tishi-main li{
	width: 33.333333%;
	height: 100%;
	float: left;
	font-size: 0.25rem;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 0.8rem;
	border-radius: 0.07rem;
}
.tishi-main li a{
	color: #000;
}
.tishi-main li:nth-child(1){
	position: relative;
}
.sanjiao1{
	/*width: 0.22rem;*/
	border-top: 0.22rem solid #01b5ff;
	border-left: 0.22rem solid transparent;
	border-bottom: 0.22rem solid transparent;
	border-right: 0.22rem solid transparent;
	position: absolute;
	left: 1rem;
	top: 0.78rem;
	opacity: 0;
}
.tishi-main li:nth-child(1):hover{
	background: #01b5ff;
}
.tishi-main li:nth-child(1):hover .sanjiao1{
	opacity: 1;
}
.tishi-main li:nth-child(2){
	position: relative;
}
.sanjiao2{
	/*width: 0.22rem;*/
	border-top: 0.22rem solid #01b5ff;
	border-left: 0.22rem solid transparent;
	border-bottom: 0.22rem solid transparent;
	border-right: 0.22rem solid transparent;
	position: absolute;
	left: 1rem;
	top: 0.78rem;
	opacity: 0;
}
.tishi-main li:nth-child(2):hover{
	background: #01b5ff;
}
.tishi-main li:nth-child(2):hover .sanjiao2{
	opacity: 1;
}
.tishi-main li:nth-child(3){
	position: relative;
}
.sanjiao3{
	/*width: 0.22rem;*/
	border-top: 0.22rem solid #01b5ff;
	border-left: 0.22rem solid transparent;
	border-bottom: 0.22rem solid transparent;
	border-right: 0.22rem solid transparent;
	position: absolute;
	left: 1rem;
	top: 0.78rem;
	opacity: 0;
}
.tishi-main li:nth-child(3):hover{
	background: #01b5ff;
}
.tishi-main li:nth-child(3):hover .sanjiao3{
	opacity: 1;
}
/*提示栏结束*/
/*老师开始*/
.laoshi{
	width: 100%;
	height: 14.10rem;
	background: #f5f6fa;
}
/*老师结束*/
.laoshi-main{
	width:96.666666%;
	height: 100%;
	margin: 0 auto;
}
.laoshi-main li{
	width: 100%;
	height: 2.7rem;
	margin-bottom: 0.1rem;
	background: #fff;
}
.img-box{
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 0.07rem;
	float: left;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}
.img-box img{
	width: 100%;
	height: 100%;
	border-radius: 0.07rem;
}
.laoshi-wenzi{
	width: 4.22rem;
	height: 2.31rem;
	float: right;
	margin-top: 0.38rem;
}
.laoshi-wenzi1{
	width: 1.71rem;
	height: 0.7rem;
	float: left;
}
.laoshi-wenzi1-1{
	height: 0.25rem;
    font-family: "微软雅黑";
    font-size: 0.25rem;
    color: #000;
    line-height: 0.25rem;     
}
.xuxian{
	width: 100%;
	height: 0.11rem;
	border-bottom: 0.01rem dashed #999999;
	box-sizing: border-box;
}
.laoshi-wenzi1-2{
	height: 0.23rem;
	margin-top: 0.1rem;
	font-family: "微软雅黑";
    font-size: 0.23rem;
    color: #01b5ff;
    line-height: 0.23rem;
}
.chakan{
	height: 0.23rem;
	float: left;
	margin-left: 1rem;
	margin-top: 0.02rem;
	font-family: "微软雅黑";
    font-size: 0.23rem;
    color: #ff9300;
    line-height: 0.23rem;
}
.jianjie{
	float: left;
	width: 3.02rem;
	height: 0.96rem;
	margin-top: 0.28rem;
	font-family: "微软雅黑";
    font-size: 0.23rem;
    color: #000;
    line-height: 0.37rem;
}
.footer{
	width: 100%;
	height: 0.7rem;
	background: #ffffff;
}
.footer1{
	width: 0.58rem;
	height: 0.31rem;
	background: #ffffff;
	border: 0.01rem solid #999999;
	border-radius: 30%;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.18rem;
	margin-right: 0.14rem;
	position: relative;
}
.footer1-1{
	width: 0.5rem;
	height: 0.25rem;
	background: #ffffff;
	font-size: 0.4rem;
	font-family: "微软雅黑";
	color: #383838;
	text-align: center;
	line-height: 0.31rem;
	border: 0.01rem solid #333333;
	border-radius: 30%;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.yidaosanshi{
	width: 4rem;
	height: 0.32rem;
	background: #ffffff;
	float: left;
	margin-top: 0.18rem;
}
.yidaosanshi li{
	width: 0.32rem;
	height: 0.32rem;
	background: #ffffff;
	float: left;
	border-radius: 50%;
	border: 0.01rem solid #b4b4b4;
	margin-right: 0.1rem;
	position: relative;
}
.xiaoyuan{
	width: 0.26rem;
	height: 0.26rem;
	background: #ffffff;
	font-size: 0.1rem;
	color: #383838;
	text-align: center;
	line-height: 0.26rem;
	border: 0.01rem solid #191919;
	border-radius: 50%;
	position: absolute;
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.yidaosanshi li:last-child{
    width: 0.58rem;
	height: 0.31rem;
	background: #ffffff;
	border: 0.01rem solid #999999;
	border-radius: 30%;
	/* float: left; */
	position: relative;
}
.footer2{
	width: 0.5rem;
	height: 0.25rem;
	background: #ffffff;
	font-size: 0.4rem;
	font-family: "微软雅黑";
	color: #383838;
	text-align: center;
	line-height: 0.31rem;
	border: 0.01rem solid #333333;
	border-radius: 30%;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.yidaosanshi li:nth-child(6){
	border: 0rem solid #b4b4b4;
}
.dian{
	width: 0.26rem;
	height: 0.26rem;
	background: #ffffff;
	font-size: 0.05rem;
	font-family: "微软雅黑";
	color: #383838;
	text-align: center;
	line-height: 0.26rem;
	border: 0rem solid #191919;
	border-radius: 50%;
	position: absolute;
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.tiaozhuan{
	width:1rem; 
	height: 0.3rem;
	background:#ffffff;
	float: left; 
	font-size: 0.1rem;
	font-family: "微软雅黑";
	color: #000000;
	text-align: center;
	line-height:0.3rem; 
	margin-top: 0.18rem;
}
.kongbaikuang{
	width: 0.58rem;
	height: 0.31rem;
	background: #ffffff;
	border: 0.01rem solid #999999;
	border-radius: 30%;
	float: left;
	margin-left: 0.05rem;
	margin-right: 0.05rem;
	margin-top: 0.18rem;
	position: relative;
}
.kongbaixiao{
	width: 0.5rem;
	height: 0.25rem;
	background: #ffffff;
	font-size: 0.4rem;
	font-family: "微软雅黑";
	color: #383838;
	text-align: center;
	line-height: 0.31rem;
	border: 0.01rem solid #333333;
	border-radius: 30%;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.go{
	width: 0.32rem;
	height: 0.32rem;
	background: #ffffff;
	float: left;
	border-radius: 50%;
	border: 0.01rem solid #b4b4b4;
	margin-top: 0.18rem;
	position: relative;
}
.gozi{
	width: 0.26rem;
	height: 0.26rem;
	background: #ffffff;
	font-size: 0.1rem;
	color: #383838;
	text-align: center;
	line-height: 0.26rem;
	border: 0.01rem solid #191919;
	border-radius: 50%;
	position: absolute;
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.bottom{
	width: 100%;
	height: 0.92rem;
	background: #f5f6fa;
	overflow: hidden;
}
.bottom-main{
	width: 70%;
	height: 100%;
	margin: 0 auto;
	margin-top: 0.15rem;
}
.zi1{
	background: #f5f6fa;
	font-size: 0.08rem;
	font-family: "微软雅黑";
	color: #666666;
	text-align: center;
	line-height: 0.35rem;
}
